@font-face {
	font-family: "icons";
	src: url("../font/fonts-image/icons.ttf?74g2ei") format("truetype"),
		url("../font/fonts-image/icons.woff?74g2ei") format("woff"),
		url("../font/fonts-image/icons.svg?74g2ei#icons") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icons" !important;
	speak: never;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-basket:before {
	content: "\e900";
}
.icon-log:before {
	content: "\e901";
}
.icon-search:before {
	content: "\e902";
}
.icon-telephone:before {
	content: "\e903";
}
